<%= form_with(model: unit, local: true, multipart: true, class: "form-container") do |form| %>
  <% if @unit.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h4 class="alert-heading"><%= pluralize(@unit.errors.count, "error") %> prevented this unit from being saved:</h4>
      <ul>
        <% @unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :serial_number, class: "form-label" %>
    <%= form.number_field :serial_number, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.select :description, ['D222AH', 'XSR250GK', 'XSR240LNR', 'XSR140LNR'], {}, class: "form-select" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :text_file, class: "form-label" %>
    <%= form.file_field :text_file, class: "form-control" %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit "Create Unit", class: "btn btn-primary w-100" %>
  </div>
<% end %>
