<p style="color: green"><%= notice %></p>

<h1>Units</h1>

<table class="table table-dark table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Description</th>
      <th scope="col">Function</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%=unit.serial_number%></td>
        <td><%=unit.description%></td>
        <td><%= link_to "Show this unit", unit %></td>
        <td><%= link_to  "Destroy this unit", unit, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New unit", new_unit_path, class:"btn btn-primary" %>