<p style="color: green"><%= notice %></p>

<h2>Unit LOGs</h2>

<br>

<h1><%= @unit.serial_number %></h1>

<div>
  <p>
    <strong>Description:</strong>
    <%= @unit.description %>
  </p>
</div>

<%= form_for @unit, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.file_field :text_file, class: "form-control" %>
  </div>
<br>
  <%= f.submit "Import", class: "btn btn-primary" %>
<% end %>

<br>

<% if @unit.text_file.attached? %>
  <p><%= link_to 'Download Log Text File', download_unit_path(@unit), class: 'btn btn-secondary' %></p>
<% end %>

<% if @unit.text_file.attached? %>
  <p><%= link_to 'Download Excel File', download_excel_unit_path(@unit), class: 'btn btn-success' %></p>
<% end %>

<html>
<head>
  <title>Test Results</title>
  <style>
    table {
      width: 80%;
      max-width: 800px;
      margin: auto;
      border-collapse: collapse;
      margin-left: 0;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
      word-wrap: break-word;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Test Results</h1>
  <table>
    <thead>
      <tr>
        <th>Test</th>
        <th>Name</th>
        <th>Range</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @extracted_data[0...-4].each do |data| %>
        <tr>
          <td><%= data[:test] %></td>
          <td><%= data[:name] %></td>
          <td><%= data[:range] %></td>
          <td><%= data[:value] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>


<br>

<br>
<%= link_to "Edit this unit", edit_unit_path(@unit), class:"btn btn-secondary" %> |
<%= link_to "Back to units", units_path, class:"btn btn-secondary" %>

<br>
<br>
<%= button_to "Destroy this unit", @unit, method: :delete, class:"btn btn-danger"  %>


