<!-- app/views/tests/index.html.erb -->
<h1>Test Index</h1>

<%= render partial: 'tests/run_test_page', locals: { files: @files } %>

<table border="1" style="border-collapse: collapse; width: 300px;">
  <tr>
    <th style="border: 1px solid black; padding: 8px;">Test Mode</th>
    <th style="border: 1px solid black; padding: 8px;">wl0</th>
    <th style="border: 1px solid black; padding: 8px;">wl1</th>
    <th style="border: 1px solid black; padding: 8px;">wl2</th>
  </tr>
  <tr>
    <td style="border: 1px solid black; padding: 8px; text-align: center; background-color: <%= @results["mode"] == 'OK' ? 'green' : 'red' %>; color: white;">
      <%= @results["mode"] %>
    </td>
    <td style="border: 1px solid black; padding: 8px; text-align: center; background-color: <%= @results["wl0"] == 'OK' ? 'green' : 'red' %>; color: white;">
      <%= @results["wl0"] %>
    </td>
    <td style="border: 1px solid black; padding: 8px; text-align: center; background-color: <%= @results["wl1"] == 'OK' ? 'green' : 'red' %>; color: white;">
      <%= @results["wl1"] %>
    </td>
    <td style="border: 1px solid black; padding: 8px; text-align: center; background-color: <%= @results["wl2"] == 'OK' ? 'green' : 'red' %>; color: white;">
      <%= @results["wl2"] %>
    </td>
  </tr>
</table>

<%= button_to "Radios Verificationrails ", { controller: 'tests', action: 'check_radios' }, method: :post, id: "run-script-button" %>